<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <script src="../../../resources/js/bootstrap.min.js" th:href="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="/" th:href="@{/}">Neolands client admin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" role='tablist'>
                <li><a class='tabLink' role='tab' data-toggle='tab' href="#clan">Clan access</a></li>
                <li><a class='tabLink' role='tab' data-toggle='tab' href="#personal">Personal access</a></li>
                <li><a class='tabLink' role='tab' data-toggle='tab' href="#blackList">Black list</a></li>
                <li><a class='tabLink' role='tab' data-toggle='tab' href="#versions">Version control</a></li>
                <li><a class='tabLink' role='tab' data-toggle='tab' href="#logs">Logs</a></li>
                <li><a class='tabLink' role='tab' data-toggle='tab' href="#users">Users</a></li>
                <li><a class='tabLink' role='tab' data-toggle='tab' href="#cryptoKey">CryptoKey</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>

                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>